<div class='text-center'>
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
</div>
<div>
  <!-- Add this form element for comment input with the 'comment-form' id -->
  <form id="comment-form">
    <div class="form-group">
      <input placeholder='Comment...' class='commentInput' />
      <!-- This {{post.id}} can be used here as needed -->
      <button id="comment-button" data-post-id="{{post.id}}">Comment</button>
    </div>
  </form>
</div>
{{!-- Loop through comments that belong to this post and display their commentbody --}}
<section class='commentList'>
  {{#each comments}}
    <div class='row mb-4 post'>
      <div class='col-md-7'>
        <p>
          {{this.commentBody}}
        </p>
        <p>Comment by {{this.user.username}}</p>
      </div>
    </div>
  {{/each}}
</section>
