<div class='text-center'>
  <h2>{{post.name}}</h2>
  <p>{{post.description}}</p>
  <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
</div>
<div>
  <input placeholder='Comment...' class='commentInput' />
  <button id="comment-button">Comment</button>
</div>
{{!-- LOOP THROUGH COMMENTS THAT BELONG TO THIS POST AND DISPLAY THEIR COMMENTBODY --}}
<section class='commentList'>
  {{#each comments}}
    <div class='row mb-4 post'>
      <div class='col-md-7'>
        <p>
          {{this.commentBody}}
        </p>
        <p>Comment by {{this.user.name}}</p>
      </div>
    </div>
  {{/each}}
</section>
