<div class='text-center'>
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
</div>
<div>
  <!-- Add this form element for comment input with the 'comment-form' id -->
  <form id='comment-form'>
    <div class='form-group'>
      <input placeholder='Comment...' class='commentInput' />
      <!-- This {{post.id}} can be used here as needed -->
      <button id='comment-button' data-post-id='{{post.id}}'>Comment</button>
      <!-- Add this hidden input to store user_id -->
      <input type='hidden' id='user-id' data-user-id='{{user_id}}' />
      <!-- Debugging: Display user_id -->
<p>User ID: {{user_id}}</p>

    </div>
  </form>
</div>
{{! Loop through comments that belong to this post and display their commentbody }}
<section class='commentList'>
  {{log post}}
  {{#each comments}}
    {{log 'looping through comments'}}
    <div class='row mb-4 post'>
      <div class='col-md-7'>
        <p>
          {{this.commentBody}}
          {{log comments}}
        </p>
        <p>Comment by {{this.user.username}}</p>
      </div>
    </div>
  {{/each}}
</section>

<!-- Add the correct script source for comment.js -->
<script src='/js/comment.js'></script>